In [16]:
import pandas as pd

data = pd.read_csv('sales_data.csv')
print(data)
data.head()

          Date  ProductID  Quantity  UnitPrice
0   01-01-2022       1044        18      19.47
1   02-01-2022       1047         6      92.78
2   03-01-2022       1064        10      74.42
3   04-01-2022       1067         4      99.89
4   05-01-2022       1067         1      23.87
..         ...        ...       ...        ...
95  06-04-2022       1023        13      21.02
96  07-04-2022       1079         7      56.80
97  08-04-2022       1013         4      22.32
98  09-04-2022       1085         6      74.65
99  10-04-2022       1048        12      45.94

[100 rows x 4 columns]

         Date  ProductID  Quantity  UnitPrice
0  01-01-2022       1044        18      19.47
1  02-01-2022       1047         6      92.78
2  03-01-2022       1064        10      74.42
3  04-01-2022       1067         4      99.89
4  05-01-2022       1067         1      23.87

In [9]:
df=pd.DataFrame(data)

df
df.head()
df.shape
df.describe()
df['revenue'] =  df['Quantity'] * df['UnitPrice']
df.to_excel('sales_data_outpute.xlsx')

In [27]:
import pathlib

print(pathlib.Path('Untitled6').parent.absolute())

C:\Users\AtulKadlag\Desktop\PythonProjects