In [1]:
# Loading a Sample Pandas DataFrame
import pandas as pd
import numpy as np

my_dict= {
    'Name': ['Ajay', 'Ramu', 'Kiran', 'Rajesh', np.NaN],
    'Age': [33, 32, 40, 57, np.NaN],
    'Location': ['Pune', 'Mumbai', 'Nagpura', np.NaN, np.NaN]
}

df = pd.DataFrame(my_dict)
print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0      NaN
4     NaN   NaN      NaN

In [2]:
# Exploring the .isnull() method
print(df.isnull())

    Name    Age  Location
0  False  False     False
1  False  False     False
2  False  False     False
3  False  False      True
4   True   True      True

In [3]:
#counting missing values
print(df.isnull().sum())

Name        1
Age         1
Location    2
dtype: int64

In [4]:
# Exploring the Pandas .dropna() method
df.dropna(
    axis=0,         # Whether to drop rows or columns
    how='any',      # Whether to drop records if 'all' or 'any' records are missing
    thresh=None,    # How many columns/rows must be missing to drop
    subset=None,    # Which rows/columns to consider
    inplace=False   # Whether to drop in place (i.e., without needing to re-assign)
)
print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0      NaN
4     NaN   NaN      NaN

In [5]:
df = df.dropna(
    axis=0,         # Whether to drop rows or columns
    how='any',      # Whether to drop records if 'all' or 'any' records are missing
    thresh=None,    # How many columns/rows must be missing to drop
    subset=None,    # Which rows/columns to consider
    inplace=False   # Whether to drop in place (i.e., without needing to re-assign)
)
print(df)

    Name   Age Location
0   Ajay  33.0     Pune
1   Ramu  32.0   Mumbai
2  Kiran  40.0  Nagpura

In [6]:
# Loading a Sample Pandas DataFrame
import pandas as pd
import numpy as np

my_dict= {
    'Name': ['Ajay', 'Ramu', 'Kiran', 'Rajesh', np.NaN],
    'Age': [33, 32, 40, 57, np.NaN],
    'Location': ['Pune', 'Mumbai', 'Nagpura', np.NaN, np.NaN]
}

df = pd.DataFrame(my_dict)
print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0      NaN
4     NaN   NaN      NaN

In [7]:
# Dropping Records Only if All Records are Missing
df = df.dropna(how='all')
print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0      NaN

In [8]:
# Dropping Values with Default Arguments
df = df.dropna()
print(df)

    Name   Age Location
0   Ajay  33.0     Pune
1   Ramu  32.0   Mumbai
2  Kiran  40.0  Nagpura

In [10]:
df_empty = df[0:0]

my_dict= {
    'Name': ['Ajay', 'Ramu', 'Kiran', 'Rajesh', np.NaN],
    'Age': [33, 32, 40, 57, np.NaN],
    'Location': ['Pune', 'Mumbai', 'Nagpura', np.NaN, np.NaN]
}

df = pd.DataFrame(my_dict)
print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0      NaN
4     NaN   NaN      NaN

In [11]:

# Using .fillna() to Fill Missing Data
df = df.fillna(0)
print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0        0
4       0   0.0        0

In [13]:
df_empty = df[0:0]

my_dict= {
    'Name': ['Ajay', 'Ramu', 'Kiran', 'Rajesh', np.NaN],
    'Age': [33, 32, 40, 57, np.NaN],
    'Location': ['Pune', 'Mumbai', 'Nagpura', np.NaN, np.NaN]
}

df = pd.DataFrame(my_dict)

print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0      NaN
4     NaN   NaN      NaN

In [14]:
# Filling Columns with Different Values
df = df.fillna({'Name': 'Sachin', 'Age': 35, 'Location': 'India'})
print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0    India
4  Sachin  35.0    India

In [15]:
df_empty = df[0:0]

my_dict= {
    'Name': ['Ajay', 'Ramu', 'Kiran', 'Rajesh', np.NaN],
    'Age': [33, 32, 40, 57, np.NaN],
    'Location': ['Pune', 'Mumbai', 'Nagpura', np.NaN, np.NaN]
}
df = pd.DataFrame(my_dict)
print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0      NaN
4     NaN   NaN      NaN

In [16]:
df['Age'].mean()

40.5

In [17]:
# Imputing a Missing Value
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df)

     Name   Age Location
0    Ajay  33.0     Pune
1    Ramu  32.0   Mumbai
2   Kiran  40.0  Nagpura
3  Rajesh  57.0      NaN
4     NaN  40.5      NaN

In [24]:
if (df['Name'] == 'Rajesh'):
    df['Location']= 'Sangli'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().