In [21]:
import pandas as pd
df = pd.DataFrame.from_dict({
    'Name': ['Ramesh, Patil', 'Raja, Sharma', 'Sachin, Kale', 'Vasu, Patel', 'Aravind, Roy'],
    'Region': ['Region A', 'Region A', 'Region B', 'Region C', 'Region D'],
    'Location': ['NASHIK', 'BANGLORE', 'MUMBAI', 'Chennai', 'KOLKATA'],
    'Favorite Color': ['   green  ', 'red', '  yellow', 'blue', 'purple  ']
})

print(df)

            Name    Region  Location Favorite Color
0  Ramesh, Patil  Region A    NASHIK        green
1   Raja, Sharma  Region A  BANGLORE            red
2   Sachin, Kale  Region B    MUMBAI         yellow
3    Vasu, Patel  Region C   Chennai           blue
4   Aravind, Roy  Region D   KOLKATA       purple

In [23]:
# Trimming Whitespace from a Pandas Column
df['Favorite Color'] = df['Favorite Color'].str.strip()

print(df)

            Name    Region  Location Favorite Color
0  Ramesh, Patil  Region A    NASHIK          green
1   Raja, Sharma  Region A  BANGLORE            red
2   Sachin, Kale  Region B    MUMBAI         yellow
3    Vasu, Patel  Region C   Chennai           blue
4   Aravind, Roy  Region D   KOLKATA         purple

In [17]:
# Applying .split on a column
print(df['Name'].str.split(','))

0    [Ramesh,  Patil]
1     [Raja,  Sharma]
2     [Sachin,  Kale]
3      [Vasu,  Patel]
4     [Aravind,  Roy]
Name: Name, dtype: object

In [18]:
# Splitting a Column into Two Columns
df[['First Name', 'Last Name']] = df['Name'].str.split(',', expand=True)
print(df)

            Name    Region  Location Favorite Color First Name Last Name
0  Ramesh, Patil  Region A    NASHIK          green     Ramesh     Patil
1   Raja, Sharma  Region A  BANGLORE            red       Raja    Sharma
2   Sachin, Kale  Region B    MUMBAI         yellow     Sachin      Kale
3    Vasu, Patel  Region C   Chennai           blue       Vasu     Patel
4   Aravind, Roy  Region D   KOLKATA         purple    Aravind       Roy

In [19]:
# Replacing a Substring in Pandas
df['Region'] = df['Region'].str.replace('Region ', '')
print(df)

            Name Region  Location Favorite Color First Name Last Name
0  Ramesh, Patil      A    NASHIK          green     Ramesh     Patil
1   Raja, Sharma      A  BANGLORE            red       Raja    Sharma
2   Sachin, Kale      B    MUMBAI         yellow     Sachin      Kale
3    Vasu, Patel      C   Chennai           blue       Vasu     Patel
4   Aravind, Roy      D   KOLKATA         purple    Aravind       Roy

In [20]:
# Changing Text to Title Case in Pandas
df['Location'] = df['Location'].str.title()
print(df)

            Name Region  Location Favorite Color First Name Last Name
0  Ramesh, Patil      A    Nashik          green     Ramesh     Patil
1   Raja, Sharma      A  Banglore            red       Raja    Sharma
2   Sachin, Kale      B    Mumbai         yellow     Sachin      Kale
3    Vasu, Patel      C   Chennai           blue       Vasu     Patel
4   Aravind, Roy      D   Kolkata         purple    Aravind       Roy