In [3]:
#Example: Creating a DataFrame from a dictionary
import pandas as pd

#dictionary - Key & value
data = {
    'Name': ['Anil', 'Ramesh', 'Srini', 'Jatinder'],
    'Age': [28, 34, 29, 32],
    'City': ['Kolhapur', 'Nashik', 'Chennai', 'Noida']
}

#print(data)


df = pd.DataFrame(data)

print(df)

       Name  Age      City
0      Anil   28  Kolhapur
1    Ramesh   34    Nashik
2     Srini   29   Chennai
3  Jatinder   32     Noida

In [8]:
#viewing and describing data

# Viewing the first few rows
#print(df)

print(df.head())   #display first 5 records
print(df.head(2))   #display first 2 records

# Describing data (summary statistics)

print(df.describe())

       Name  Age      City
0      Anil   28  Kolhapur
1    Ramesh   34    Nashik
2     Srini   29   Chennai
3  Jatinder   32     Noida
     Name  Age      City
0    Anil   28  Kolhapur
1  Ramesh   34    Nashik
             Age
count   4.000000
mean   30.750000
std     2.753785
min    28.000000
25%    28.750000
50%    30.500000
75%    32.500000
max    34.000000

In [12]:
#Accessing Data in DataFrames

# Accessing a single column
print(df['Name'])

# Accessing multiple columns
print(df[['Name', 'Age']])

# Accessing rows by position
print(df.iloc[1])

# Accessing rows by label with loc (if you have set an index)
# print(df.loc['some_label'])


print(df.iloc[3])

0        Anil
1      Ramesh
2       Srini
3    Jatinder
Name: Name, dtype: object
       Name  Age
0      Anil   28
1    Ramesh   34
2     Srini   29
3  Jatinder   32
Name    Ramesh
Age         34
City    Nashik
Name: 1, dtype: object
Name    Jatinder
Age           32
City       Noida
Name: 3, dtype: object

In [15]:
#modifying dataframes
print(df)
# Adding a new column
df['Employed'] = ['Yes', 'No', 'Yes', 'No']

print('after adding  a column \n',df)



# Removing a column
df.drop('Employed', axis=1, inplace=True)

print(df)

       Name  Age      City Employed
0      Anil   28  Kolhapur      Yes
1    Ramesh   34    Nashik       No
2     Srini   29   Chennai      Yes
3  Jatinder   32     Noida       No
after adding  a column
        Name  Age      City Employed
0      Anil   28  Kolhapur      Yes
1    Ramesh   34    Nashik       No
2     Srini   29   Chennai      Yes
3  Jatinder   32     Noida       No
       Name  Age      City
0      Anil   28  Kolhapur
1    Ramesh   34    Nashik
2     Srini   29   Chennai
3  Jatinder   32     Noida

In [16]:
#filtering data

# Filtering data where age is greater than 30
filtered_df = df[df['Age'] > 30]

print(filtered_df)

       Name  Age    City
1    Ramesh   34  Nashik
3  Jatinder   32   Noida