In [1]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine


connection_string = "mssql+pyodbc://@LAPTOP-OSB9U57H/AdventureWorks2019?driver=SQL+Server"
engine = create_engine(connection_string)

In [6]:
sql_query1 = "SELECT * FROM sales.SalesOrderHeader"
df1 = pd.read_sql_query(sql_query1, engine)

sql_query2 = "SELECT * FROM sales.SalesOrderDetail"
df2 = pd.read_sql_query(sql_query2, engine)

In [7]:
with engine.connect() as connection:
    df1 = pd.read_sql_query(sql_query1, connection)
    df2 = pd.read_sql_query(sql_query2, connection)
    
print(df1)

print(df2)

       SalesOrderID  RevisionNumber  OrderDate    DueDate   ShipDate  Status  \
0             43659               8 2011-05-31 2011-06-12 2011-06-07       5
1             43660               8 2011-05-31 2011-06-12 2011-06-07       5
2             43661               8 2011-05-31 2011-06-12 2011-06-07       5
3             43662               8 2011-05-31 2011-06-12 2011-06-07       5
4             43663               8 2011-05-31 2011-06-12 2011-06-07       5
...             ...             ...        ...        ...        ...     ...
31460         75119               8 2014-06-30 2014-07-12 2014-07-07       5
31461         75120               8 2014-06-30 2014-07-12 2014-07-07       5
31462         75121               8 2014-06-30 2014-07-12 2014-07-07       5
31463         75122               8 2014-06-30 2014-07-12 2014-07-07       5
31464         75123               8 2014-06-30 2014-07-12 2014-07-07       5

       OnlineOrderFlag SalesOrderNumber PurchaseOrderNumber   AccountNumber  \
0                False          SO43659         PO522145787  10-4020-000676
1                False          SO43660       PO18850127500  10-4020-000117
2                False          SO43661       PO18473189620  10-4020-000442
3                False          SO43662       PO18444174044  10-4020-000227
4                False          SO43663       PO18009186470  10-4020-000510
...                ...              ...                 ...             ...
31460             True          SO75119                None  10-4030-011981
31461             True          SO75120                None  10-4030-018749
31462             True          SO75121                None  10-4030-015251
31463             True          SO75122                None  10-4030-015868
31464             True          SO75123                None  10-4030-018759

       ...  CreditCardID  CreditCardApprovalCode  CurrencyRateID    SubTotal  \
0      ...       16281.0           105041Vi84182             NaN  20565.6206
1      ...        5618.0           115213Vi29411             NaN   1294.2529
2      ...        1346.0             85274Vi6854             4.0  32726.4786
3      ...       10456.0           125295Vi53935             4.0  28832.5289
4      ...        4322.0            45303Vi22691             NaN    419.4589
...    ...           ...                     ...             ...         ...
31460  ...        6761.0           429826Vi35166             NaN     42.2800
31461  ...        8925.0           929849Vi46003             NaN     84.9600
31462  ...       14220.0           529864Vi73738             NaN     74.9800
31463  ...       18719.0           330022Vi97312             NaN     30.9700
31464  ...       10084.0           230370Vi51970             NaN    189.9700

          TaxAmt   Freight    TotalDue Comment  \
0      1971.5149  616.0984  23153.2339    None
1       124.2483   38.8276   1457.3288    None
2      3153.7696  985.5530  36865.8012    None
3      2775.1646  867.2389  32474.9324    None
4        40.2681   12.5838    472.3108    None
...          ...       ...         ...     ...
31460     3.3824    1.0570     46.7194    None
31461     6.7968    2.1240     93.8808    None
31462     5.9984    1.8745     82.8529    None
31463     2.4776    0.7743     34.2219    None
31464    15.1976    4.7493    209.9169    None

                                    rowguid  ModifiedDate
0      79B65321-39CA-4115-9CBA-8FE0903E12E6    2011-06-07
1      738DC42D-D03B-48A1-9822-F95A67EA7389    2011-06-07
2      D91B9131-18A4-4A11-BC3A-90B6F53E9D74    2011-06-07
3      4A1ECFC0-CC3A-4740-B028-1C50BB48711C    2011-06-07
4      9B1E7A40-6AE0-4AD3-811C-A64951857C4B    2011-06-07
...                                     ...           ...
31460  9382F1C9-383A-435F-9449-0EECEA21B78D    2014-07-07
31461  AE6A4FCF-FF73-4CD4-AF2C-5993D00D4AFE    2014-07-07
31462  D7395C0E-00CB-4BFA-A238-0D6A9F49884F    2014-07-07
31463  4221035A-4159-492F-AF40-4363A64FFC16    2014-07-07
31464  D54752FF-2B54-4BE5-95EA-3B72289C059F    2014-07-07

[31465 rows x 26 columns]
        SalesOrderID  SalesOrderDetailID CarrierTrackingNumber  OrderQty  \
0              43659                   1          4911-403C-98         1
1              43659                   2          4911-403C-98         3
2              43659                   3          4911-403C-98         1
3              43659                   4          4911-403C-98         1
4              43659                   5          4911-403C-98         1
...              ...                 ...                   ...       ...
121312         75122              121313                  None         1
121313         75122              121314                  None         1
121314         75123              121315                  None         1
121315         75123              121316                  None         1
121316         75123              121317                  None         1

        ProductID  SpecialOfferID  UnitPrice  UnitPriceDiscount  LineTotal  \
0             776               1   2024.994                0.0   2024.994
1             777               1   2024.994                0.0   6074.982
2             778               1   2024.994                0.0   2024.994
3             771               1   2039.994                0.0   2039.994
4             772               1   2039.994                0.0   2039.994
...           ...             ...        ...                ...        ...
121312        878               1     21.980                0.0     21.980
121313        712               1      8.990                0.0      8.990
121314        878               1     21.980                0.0     21.980
121315        879               1    159.000                0.0    159.000
121316        712               1      8.990                0.0      8.990

                                     rowguid ModifiedDate
0       B207C96D-D9E6-402B-8470-2CC176C42283   2011-05-31
1       7ABB600D-1E77-41BE-9FE5-B9142CFC08FA   2011-05-31
2       475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F   2011-05-31
3       04C4DE91-5815-45D6-8670-F462719FBCE3   2011-05-31
4       5A74C7D2-E641-438E-A7AC-37BF23280301   2011-05-31
...                                      ...          ...
121312  8CAD6675-18CC-4F47-8287-97B41A8EE47D   2014-06-30
121313  84F1C363-1C50-4442-BE16-541C59B6E12C   2014-06-30
121314  C18B6476-429F-4BB1-828E-2BE5F82A0A51   2014-06-30
121315  75A89C6A-C60A-47EA-8A52-B52A9C435B64   2014-06-30
121316  73646D26-0461-450D-8019-2C6C858619CA   2014-06-30

[121317 rows x 11 columns]

In [9]:
df1.merge(df2,how="inner",on="SalesOrderID")

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid_y,ModifiedDate_y
0,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,1,4911-403C-98,1,776,1,2024.994,0.0,2024.994,B207C96D-D9E6-402B-8470-2CC176C42283,2011-05-31
1,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,2,4911-403C-98,3,777,1,2024.994,0.0,6074.982,7ABB600D-1E77-41BE-9FE5-B9142CFC08FA,2011-05-31
2,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,3,4911-403C-98,1,778,1,2024.994,0.0,2024.994,475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F,2011-05-31
3,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,4,4911-403C-98,1,771,1,2039.994,0.0,2039.994,04C4DE91-5815-45D6-8670-F462719FBCE3,2011-05-31
4,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,5,4911-403C-98,1,772,1,2039.994,0.0,2039.994,5A74C7D2-E641-438E-A7AC-37BF23280301,2011-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121312,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,121313,None,1,878,1,21.980,0.0,21.980,8CAD6675-18CC-4F47-8287-97B41A8EE47D,2014-06-30
121313,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,121314,None,1,712,1,8.990,0.0,8.990,84F1C363-1C50-4442-BE16-541C59B6E12C,2014-06-30
121314,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,121315,None,1,878,1,21.980,0.0,21.980,C18B6476-429F-4BB1-828E-2BE5F82A0A51,2014-06-30
121315,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,121316,None,1,879,1,159.000,0.0,159.000,75A89C6A-C60A-47EA-8A52-B52A9C435B64,2014-06-30
121316,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,121317,None,1,712,1,8.990,0.0,8.990,73646D26-0461-450D-8019-2C6C858619CA,2014-06-30

In [10]:
df1.merge(df2,how="inner",on="SalesOrderID",suffixes=['-SOH','-SOD'])

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,SalesOrderDetailID,CarrierTrackingNumber,OrderQty,ProductID,SpecialOfferID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid-SOD,ModifiedDate-SOD
0,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,1,4911-403C-98,1,776,1,2024.994,0.0,2024.994,B207C96D-D9E6-402B-8470-2CC176C42283,2011-05-31
1,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,2,4911-403C-98,3,777,1,2024.994,0.0,6074.982,7ABB600D-1E77-41BE-9FE5-B9142CFC08FA,2011-05-31
2,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,3,4911-403C-98,1,778,1,2024.994,0.0,2024.994,475CF8C6-49F6-486E-B0AD-AFC6A50CDD2F,2011-05-31
3,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,4,4911-403C-98,1,771,1,2039.994,0.0,2039.994,04C4DE91-5815-45D6-8670-F462719FBCE3,2011-05-31
4,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,5,4911-403C-98,1,772,1,2039.994,0.0,2039.994,5A74C7D2-E641-438E-A7AC-37BF23280301,2011-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121312,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,121313,None,1,878,1,21.980,0.0,21.980,8CAD6675-18CC-4F47-8287-97B41A8EE47D,2014-06-30
121313,75122,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75122,None,10-4030-015868,...,121314,None,1,712,1,8.990,0.0,8.990,84F1C363-1C50-4442-BE16-541C59B6E12C,2014-06-30
121314,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,121315,None,1,878,1,21.980,0.0,21.980,C18B6476-429F-4BB1-828E-2BE5F82A0A51,2014-06-30
121315,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,121316,None,1,879,1,159.000,0.0,159.000,75A89C6A-C60A-47EA-8A52-B52A9C435B64,2014-06-30
121316,75123,8,2014-06-30,2014-07-12,2014-07-07,5,True,SO75123,None,10-4030-018759,...,121317,None,1,712,1,8.990,0.0,8.990,73646D26-0461-450D-8019-2C6C858619CA,2014-06-30

In [11]:
sql_query4 = "select * from Sales. Salesperson"
df4 = pd.read_sql_query(sql_query4, engine)

sql_query5 = "select * from Person.person"
df5 = pd.read_sql_query(sql_query5, engine)

with engine.connect() as connection:
    df4 = pd.read_sql_query(sql_query4, connection)
    df5 = pd.read_sql_query(sql_query5, connection)

print(df4)
print(df5)

    BusinessEntityID  TerritoryID  SalesQuota   Bonus  CommissionPct  \
0                274          NaN         NaN     0.0          0.000
1                275          2.0    300000.0  4100.0          0.012
2                276          4.0    250000.0  2000.0          0.015
3                277          3.0    250000.0  2500.0          0.015
4                278          6.0    250000.0   500.0          0.010
5                279          5.0    300000.0  6700.0          0.010
6                280          1.0    250000.0  5000.0          0.010
7                281          4.0    250000.0  3550.0          0.010
8                282          6.0    250000.0  5000.0          0.015
9                283          1.0    250000.0  3500.0          0.012
10               284          1.0    300000.0  3900.0          0.019
11               285          NaN         NaN     0.0          0.000
12               286          9.0    250000.0  5650.0          0.018
13               287          NaN         NaN     0.0          0.000
14               288          8.0    250000.0    75.0          0.018
15               289         10.0    250000.0  5150.0          0.020
16               290          7.0    250000.0   985.0          0.016

        SalesYTD  SalesLastYear                               rowguid  \
0   5.596976e+05   0.000000e+00  48754992-9EE0-4C0E-8C94-9451604E3E02
1   3.763178e+06   1.750406e+06  1E0A7274-3064-4F58-88EE-4C6586C87169
2   4.251369e+06   1.439156e+06  4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0
3   3.189418e+06   1.997186e+06  39012928-BFEC-4242-874D-423162C3F567
4   1.453719e+06   1.620277e+06  7A0AE1AB-B283-40F9-91D1-167ABF06D720
5   2.315186e+06   1.849641e+06  52A5179D-3239-4157-AE29-17E868296DC0
6   1.352577e+06   1.927059e+06  BE941A4A-FB50-4947-BDA4-BB8972365B08
7   2.458536e+06   2.073506e+06  35326DDB-7278-4FEF-B3BA-EA137B69094E
8   2.604541e+06   2.038235e+06  31FD7FC1-DC84-4F05-B9A0-762519EACACC
9   1.573013e+06   1.371635e+06  6BAC15B2-8FFB-45A9-B6D5-040E16C2073F
10  1.576562e+06   0.000000e+00  AC94EC04-A2DC-43E3-8654-DD0C546ABC17
11  1.725245e+05   0.000000e+00  CFDBEF27-B1F7-4A56-A878-0221C73BAE67
12  1.421811e+06   2.278549e+06  9B968777-75DC-45BD-A8DF-9CDAA72839E1
13  5.199059e+05   0.000000e+00  1DD1F689-DF74-4149-8600-59555EEF154B
14  1.827067e+06   1.307950e+06  224BB25A-62E3-493E-ACAF-4F8F5C72396A
15  4.116871e+06   1.635823e+06  25F6838D-9DB4-4833-9DDC-7A24283AF1BA
16  3.121616e+06   2.396540e+06  F509E3D4-76C8-42AA-B353-90B7B8DB08DE

   ModifiedDate
0    2010-12-28
1    2011-05-24
2    2011-05-24
3    2011-05-24
4    2011-05-24
5    2011-05-24
6    2011-05-24
7    2011-05-24
8    2011-05-24
9    2011-05-24
10   2012-09-23
11   2013-03-07
12   2013-05-23
13   2012-04-09
14   2013-05-23
15   2012-05-23
16   2012-05-23
       BusinessEntityID PersonType  NameStyle Title FirstName MiddleName  \
0                     1         EM      False  None       Ken          J
1                     2         EM      False  None     Terri        Lee
2                     3         EM      False  None   Roberto       None
3                     4         EM      False  None       Rob       None
4                     5         EM      False   Ms.      Gail          A
...                 ...        ...        ...   ...       ...        ...
19967             20773         IN      False  None   Crystal       None
19968             20774         IN      False  None  Isabella          F
19969             20775         IN      False  None   Crystal          S
19970             20776         IN      False  None   Crystal       None
19971             20777         IN      False  None   Crystal       None

         LastName Suffix  EmailPromotion AdditionalContactInfo  \
0         Sánchez   None               0                  None
1           Duffy   None               1                  None
2      Tamburello   None               0                  None
3         Walters   None               0                  None
4        Erickson   None               0                  None
...           ...    ...             ...                   ...
19967         Guo   None               0                  None
19968  Richardson   None               2                  None
19969          He   None               0                  None
19970       Zheng   None               1                  None
19971          Hu   None               0                  None

                                            Demographics  \
0      <IndividualSurvey xmlns="http://schemas.micros...
1      <IndividualSurvey xmlns="http://schemas.micros...
2      <IndividualSurvey xmlns="http://schemas.micros...
3      <IndividualSurvey xmlns="http://schemas.micros...
4      <IndividualSurvey xmlns="http://schemas.micros...
...                                                  ...
19967  <IndividualSurvey xmlns="http://schemas.micros...
19968  <IndividualSurvey xmlns="http://schemas.micros...
19969  <IndividualSurvey xmlns="http://schemas.micros...
19970  <IndividualSurvey xmlns="http://schemas.micros...
19971  <IndividualSurvey xmlns="http://schemas.micros...

                                    rowguid ModifiedDate
0      92C4279F-1207-48A3-8448-4636514EB7E2   2009-01-07
1      D8763459-8AA8-47CC-AFF7-C9079AF79033   2008-01-24
2      E1A2555E-0828-434B-A33B-6F38136A37DE   2007-11-04
3      F2D7CE06-38B3-4357-805B-F4B6B71C01FF   2007-11-28
4      F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF   2007-12-30
...                                     ...          ...
19967  D0A499A2-C258-43E9-AB06-F61543A71134   2014-03-19
19968  A4F7F248-82F3-43D5-B5A3-8BD1CB610254   2013-07-29
19969  CD0B82D0-3409-4497-A65F-A68E75EE26CB   2014-03-12
19970  386E35E8-97B3-43E4-9B5F-9594C2FF5CEA   2014-01-14
19971  1773C8F3-2CC7-4826-A7F5-30D3F36543CD   2013-10-16

[19972 rows x 13 columns]

In [14]:
df4.merge(df5,how="outer", on ="BusinessEntityID",suffixes=[' - SP','- P'],indicator=True)

,BusinessEntityID,TerritoryID,SalesQuota,Bonus,CommissionPct,SalesYTD,SalesLastYear,rowguid - SP,ModifiedDate - SP,PersonType,...,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid- P,ModifiedDate- P,_merge
0,274,NaN,NaN,0.0,0.000,5.596976e+05,0.000000e+00,48754992-9EE0-4C0E-8C94-9451604E3E02,2010-12-28,SP,...,Stephen,Y,Jiang,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",1F4062EC-0577-43DF-947A-EEE1E3D24C60,2010-12-28,both
1,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1E0A7274-3064-4F58-88EE-4C6586C87169,2011-05-24,SP,...,Michael,G,Blythe,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",250C3F67-B75F-4B0D-9BE2-DEB5825C8EEB,2011-05-24,both
2,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06,4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0,2011-05-24,SP,...,Linda,C,Mitchell,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",519A296E-CA91-450F-95C9-153459604147,2011-05-24,both
3,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06,39012928-BFEC-4242-874D-423162C3F567,2011-05-24,SP,...,Jillian,None,Carson,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",3C407F7D-2EA1-4749-8856-8C8EECF23AEA,2011-05-24,both
4,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06,7A0AE1AB-B283-40F9-91D1-167ABF06D720,2011-05-24,SP,...,Garrett,R,Vargas,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",6167A617-60E9-4212-9C40-BB471716776C,2011-05-24,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19967,20773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,IN,...,Crystal,None,Guo,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",D0A499A2-C258-43E9-AB06-F61543A71134,2014-03-19,right_only
19968,20774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,IN,...,Isabella,F,Richardson,None,2,None,"<IndividualSurvey xmlns=""http://schemas.micros...",A4F7F248-82F3-43D5-B5A3-8BD1CB610254,2013-07-29,right_only
19969,20775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,IN,...,Crystal,S,He,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",CD0B82D0-3409-4497-A65F-A68E75EE26CB,2014-03-12,right_only
19970,20776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,IN,...,Crystal,None,Zheng,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",386E35E8-97B3-43E4-9B5F-9594C2FF5CEA,2014-01-14,right_only
19971,20777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,IN,...,Crystal,None,Hu,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",1773C8F3-2CC7-4826-A7F5-30D3F36543CD,2013-10-16,right_only

In [17]:
df4.merge(df5,how="left", left_on ="BusinessEntityID",right_on='BusinessEntityID',suffixes=[' - SP','- P'],indicator=True)

,BusinessEntityID,TerritoryID,SalesQuota,Bonus,CommissionPct,SalesYTD,SalesLastYear,rowguid - SP,ModifiedDate - SP,PersonType,...,FirstName,MiddleName,LastName,Suffix,EmailPromotion,AdditionalContactInfo,Demographics,rowguid- P,ModifiedDate- P,_merge
0,274,NaN,NaN,0.0,0.000,5.596976e+05,0.000000e+00,48754992-9EE0-4C0E-8C94-9451604E3E02,2010-12-28,SP,...,Stephen,Y,Jiang,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",1F4062EC-0577-43DF-947A-EEE1E3D24C60,2010-12-28,both
1,275,2.0,300000.0,4100.0,0.012,3.763178e+06,1.750406e+06,1E0A7274-3064-4F58-88EE-4C6586C87169,2011-05-24,SP,...,Michael,G,Blythe,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",250C3F67-B75F-4B0D-9BE2-DEB5825C8EEB,2011-05-24,both
2,276,4.0,250000.0,2000.0,0.015,4.251369e+06,1.439156e+06,4DD9EEE4-8E81-4F8C-AF97-683394C1F7C0,2011-05-24,SP,...,Linda,C,Mitchell,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",519A296E-CA91-450F-95C9-153459604147,2011-05-24,both
3,277,3.0,250000.0,2500.0,0.015,3.189418e+06,1.997186e+06,39012928-BFEC-4242-874D-423162C3F567,2011-05-24,SP,...,Jillian,None,Carson,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",3C407F7D-2EA1-4749-8856-8C8EECF23AEA,2011-05-24,both
4,278,6.0,250000.0,500.0,0.010,1.453719e+06,1.620277e+06,7A0AE1AB-B283-40F9-91D1-167ABF06D720,2011-05-24,SP,...,Garrett,R,Vargas,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",6167A617-60E9-4212-9C40-BB471716776C,2011-05-24,both
5,279,5.0,300000.0,6700.0,0.010,2.315186e+06,1.849641e+06,52A5179D-3239-4157-AE29-17E868296DC0,2011-05-24,SP,...,Tsvi,Michael,Reiter,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",FCA35010-0144-4C4C-8245-D38E9FD4CCD2,2011-05-24,both
6,280,1.0,250000.0,5000.0,0.010,1.352577e+06,1.927059e+06,BE941A4A-FB50-4947-BDA4-BB8972365B08,2011-05-24,SP,...,Pamela,O,Ansman-Wolfe,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",8C8F5D47-E3F4-4577-BE7E-BC224431CF2B,2011-05-24,both
7,281,4.0,250000.0,3550.0,0.010,2.458536e+06,2.073506e+06,35326DDB-7278-4FEF-B3BA-EA137B69094E,2011-05-24,SP,...,Shu,K,Ito,None,2,None,"<IndividualSurvey xmlns=""http://schemas.micros...",CA87A053-6C5F-4F9B-8790-1D0AF332153A,2011-05-24,both
8,282,6.0,250000.0,5000.0,0.015,2.604541e+06,2.038235e+06,31FD7FC1-DC84-4F05-B9A0-762519EACACC,2011-05-24,SP,...,José,Edvaldo,Saraiva,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",120C84EB-8A22-4E1F-8C2B-FF5F144FDB7D,2011-05-24,both
9,283,1.0,250000.0,3500.0,0.012,1.573013e+06,1.371635e+06,6BAC15B2-8FFB-45A9-B6D5-040E16C2073F,2011-05-24,SP,...,David,R,Campbell,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",6F44C8D9-E3D0-482C-87DC-CCEB09060F31,2011-05-24,both
10,284,1.0,300000.0,3900.0,0.019,1.576562e+06,0.000000e+00,AC94EC04-A2DC-43E3-8654-DD0C546ABC17,2012-09-23,SP,...,Tete,A,Mensa-Annan,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F5BED54C-DF64-402C-93BD-7CFD1F79DEEE,2012-09-23,both
11,285,NaN,NaN,0.0,0.000,1.725245e+05,0.000000e+00,CFDBEF27-B1F7-4A56-A878-0221C73BAE67,2013-03-07,SP,...,Syed,E,Abbas,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",FF284881-01C2-4C77-95A7-4DB96F59BB70,2013-03-07,both
12,286,9.0,250000.0,5650.0,0.018,1.421811e+06,2.278549e+06,9B968777-75DC-45BD-A8DF-9CDAA72839E1,2013-05-23,SP,...,Lynn,N,Tsoflias,None,2,None,"<IndividualSurvey xmlns=""http://schemas.micros...",EED57FDF-01BE-4770-A2AD-10F3349CF3DB,2013-05-23,both
13,287,NaN,NaN,0.0,0.000,5.199059e+05,0.000000e+00,1DD1F689-DF74-4149-8600-59555EEF154B,2012-04-09,SP,...,Amy,E,Alberts,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",0CCB2270-1C40-4E7D-9A09-0B29A94DA8B6,2012-04-09,both
14,288,8.0,250000.0,75.0,0.018,1.827067e+06,1.307950e+06,224BB25A-62E3-493E-ACAF-4F8F5C72396A,2013-05-23,SP,...,Rachel,B,Valdez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",F28093ED-C889-43EB-BE88-37C9E147148C,2013-05-23,both
15,289,10.0,250000.0,5150.0,0.020,4.116871e+06,1.635823e+06,25F6838D-9DB4-4833-9DDC-7A24283AF1BA,2012-05-23,SP,...,Jae,B,Pak,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",317764BC-A515-4C2B-9A82-8136B8EC538F,2012-05-23,both
16,290,7.0,250000.0,985.0,0.016,3.121616e+06,2.396540e+06,F509E3D4-76C8-42AA-B353-90B7B8DB08DE,2012-05-23,SP,...,Ranjit,R,Varkey Chudukatil,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",5F6547B3-A7A9-4B14-8895-4402150BD903,2012-05-23,both

In [18]:
sql_query6 = "select soh.SalesOrderID,soh.AccountNumber,soh.CustomerID,sod.OrderQty, sod.UnitPrice from sales.SalesOrderheader soh inner join sales.SalesOrderDetail sod on (soh.SalesOrderID = sod.SalesOrderID)"
df6 = pd.read_sql_query(sql_query6, engine)
with engine.connect() as connection:
    df6 = pd.read_sql_query(sql_query6, connection)
    
df6

        SalesOrderID   AccountNumber  CustomerID  OrderQty  UnitPrice
0              43659  10-4020-000676       29825         1   2024.994
1              43659  10-4020-000676       29825         3   2024.994
2              43659  10-4020-000676       29825         1   2024.994
3              43659  10-4020-000676       29825         1   2039.994
4              43659  10-4020-000676       29825         1   2039.994
...              ...             ...         ...       ...        ...
121312         75122  10-4030-015868       15868         1     21.980
121313         75122  10-4030-015868       15868         1      8.990
121314         75123  10-4030-018759       18759         1     21.980
121315         75123  10-4030-018759       18759         1    159.000
121316         75123  10-4030-018759       18759         1      8.990

[121317 rows x 5 columns]