In [2]:
# Loading a Sample Pandas DataFrame
import pandas as pd
df = pd.DataFrame.from_dict({
    'Name': ['Ajit', 'Ramesh', 'Evan', 'Kyra', 'Ajit', 'Ramesh'],
    'Age': [33, 32, 40, 57, 33, 32],
    'Location': ['Nagpur', 'Nashik', 'Dhule', 'Kolhapur', 'Nagpur', 'Sangli'],
    'Date Modified': ['2024-01-01', '2024-02-24', '2023-08-12', '2023-09-12', '2024-01-01', '2024-02-24']
})

print(df)

     Name  Age  Location Date Modified
0    Ajit   33    Nagpur    2024-01-01
1  Ramesh   32    Nashik    2024-02-24
2    Evan   40     Dhule    2023-08-12
3    Kyra   57  Kolhapur    2023-09-12
4    Ajit   33    Nagpur    2024-01-01
5  Ramesh   32    Sangli    2024-02-24

In [3]:
# Identifying Duplicate Records in a Pandas DataFrame
print(df.duplicated())

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

In [4]:
# Counting Duplicate Records in a DataFrame
print(df.duplicated().sum())

1

In [5]:
# The Pandas .drop_duplicates() method
df.drop_duplicates(
    subset=None,            # Which columns to consider 
    keep='first',           # Which duplicate record to keep
    inplace=False,          # Whether to drop in place
    ignore_index=False      # Whether to relabel the index
)

     Name  Age  Location Date Modified
0    Ajit   33    Nagpur    2024-01-01
1  Ramesh   32    Nashik    2024-02-24
2    Evan   40     Dhule    2023-08-12
3    Kyra   57  Kolhapur    2023-09-12
5  Ramesh   32    Sangli    2024-02-24

In [6]:
# Loading a Sample Pandas DataFrame
import pandas as pd
df = pd.DataFrame.from_dict({
    'Name': ['Ajit', 'Ramesh', 'Evan', 'Kyra', 'Ajit', 'Ramesh'],
    'Age': [33, 32, 40, 57, 33, 32],
    'Location': ['Nagpur', 'Nashik', 'Dhule', 'Kolhapur', 'Nagpur', 'Sangli'],
    'Date Modified': ['2024-01-01', '2024-02-24', '2023-08-12', '2023-09-12', '2024-01-01', '2023-12-09']
})

print(df)

     Name  Age  Location Date Modified
0    Ajit   33    Nagpur    2024-01-01
1  Ramesh   32    Nashik    2024-02-24
2    Evan   40     Dhule    2023-08-12
3    Kyra   57  Kolhapur    2023-09-12
4    Ajit   33    Nagpur    2024-01-01
5  Ramesh   32    Sangli    2023-12-09

In [7]:

# Dropping Duplicates with Default Arguments
df = df.drop_duplicates()
print(df)

     Name  Age  Location Date Modified
0    Ajit   33    Nagpur    2024-01-01
1  Ramesh   32    Nashik    2024-02-24
2    Evan   40     Dhule    2023-08-12
3    Kyra   57  Kolhapur    2023-09-12
5  Ramesh   32    Sangli    2023-12-09

In [8]:
# Loading a Sample Pandas DataFrame
import pandas as pd
df = pd.DataFrame.from_dict({
    'Name': ['Ajit', 'Ramesh', 'Evan', 'Kyra', 'Ajit', 'Ramesh'],
    'Age': [33, 32, 40, 57, 33, 32],
    'Location': ['Nagpur', 'Nashik', 'Dhule', 'Kolhapur', 'Nagpur', 'Sangli'],
    'Date Modified': ['2024-01-01', '2024-02-24', '2023-08-12', '2023-09-12', '2024-01-01', '2023-12-09']
})

print(df)

     Name  Age  Location Date Modified
0    Ajit   33    Nagpur    2024-01-01
1  Ramesh   32    Nashik    2024-02-24
2    Evan   40     Dhule    2023-08-12
3    Kyra   57  Kolhapur    2023-09-12
4    Ajit   33    Nagpur    2024-01-01
5  Ramesh   32    Sangli    2023-12-09

In [9]:
# Dropping Based on a Subset of Columns
df = df.sort_values(by='Date Modified', ascending=False)
df = df.drop_duplicates(subset=['Name', 'Age'], keep='first')
print(df)

     Name  Age  Location Date Modified
1  Ramesh   32    Nashik    2024-02-24
0    Ajit   33    Nagpur    2024-01-01
3    Kyra   57  Kolhapur    2023-09-12
2    Evan   40     Dhule    2023-08-12